*

!.gitignore
!.gitattributes
!.github
!.github/
!.github/workflows
!.github/workflows/
!.github/workflows/**
!README.md
!package.json
!bun.lock
!tsconfig.json
!claudex
!scripts/
!scripts/**
!src/
!src/**
!tests/
!tests/**
!.githooks/
!.githooks/**
